  /*
  justify-content
  align-items
  flex-direction
  order
  align-self
  flex-wrap
  flex-flow
  align-content
  */
* {
  box-sizing: border-box;
  font-family: Arial;
}
body{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: center;
  height: 120px;
}
.container{
  display: flex;
  width: 990px;
  justify-content:space-between;
}
.logo{
  display: flex;
  align-items: center;
}
.menu{
  display: flex;
  align-items: center;
}

nav ul, nav li{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul{
  display: flex;
}

nav a{
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
  font-family: Arial;

}

nav a:hover,
nav .active a{
  background-color:#39aae1;
  color: white;
}

#banner{
  background-image: url('../images/img1.jpg');
  background-position: center;
  background-size: cover;
  height: 670px;
  display: flex;
  justify-content: center;
}

.column{
  flex-direction: column;
}

.banner_headline{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_headline h1{
  color:white;
  font-size:70px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.banner_headline h2{
  color:white;
  font-size:21px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}

.banner_options{
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3{
  flex:1;
  color:white;
  padding: 20px;
}

.banner1{
  background-color:#39aae1;
}

.banner2{
  background-color:#0079c7;
}

.banner3{
  background-color:#2b4c99;
}

.banner_title{
  font-size: 21px;
}

.banner_desc{
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_options a{
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.banner_hours{
  border-bottom:1px solid #727272;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

#geral{
  display: flex;
  justify-content: center;
}

#geral aside{
  flex:1;
}

#geral section{
  flex:2;
}

.widget_title{
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text{
  color:black;
  font-size: 21px;
  font-weight: bold;

}

.widget_title_bar{
  background-color: #39aae1;
  height: 3px;
  width: 50px;
  margin-top: 10px;
}

.widget_body_deparment{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.deparment{
  height: 150px;
  width: 150px;
  background-color: #39aae1;
  margin-bottom: 30px;
}

.contact{
  padding-bottom: 30px;
  border-bottom:1px solid #727272;
}

.contact_desc{
  border-bottom:1px solid #727272;
  padding: 10px 0px;
}

#contact_border{
  border-bottom:1px solid #727272;
}

a {
  color: blue;
}

article a{
  text-decoration: none;
}

article .news_data{
  display: flex;
}

article .news_posted_at{
  background-color: #2b4c99;
  color: white;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;

}

article .news_comments{
  background-color: #39aae1;
  color: white;
  font-size: 12px;
  padding: 10px;
}

article .news_image{
  margin-top: 30px;
}

article .news_image img {
  width: 100%;
  height: auto;

}

article .news_title{
  margin-top: 25px;
  margin-bottom: 25px;
  color:black;
  font-size: 23px;
}

article .news_resume{
  font-size: 14px;
  line-height: 20px;
  color: #5c5c5c;
  margin-bottom: 30px;
}

.flex{
  display: flex;
  flex-wrap: wrap;

}

article{
  flex:1;
  min-width: 300px;
  margin-right: 20px;
}

footer{
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

.footer_menu{
  display: flex;
}

.fm_1,
.fm_2,
.fm_3
{
  flex:1;
  color: white;
  padding: 20px;
}

.fm_1{
  background-color: #39aae1;
}

.fm_2{
  background-color: #0079c7;
}

.fm_3{
  background-color: #2b4c99;
}

.flexColumn{
  flex-direction: column;
}

.footer_area{
  display: flex;
}

.footer_areaitem{
  color: white;
  flex:1;
}

footer .widget_title_text{
  color: white;
}

.footer_copy{
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 30px;
}

footer .widget_body{
  color: #5c5c5c;
  font-size: 14px;
}

footer .widget_mc p{
  padding-bottom: 30px;
}
.fone-mc1{
  line-height: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.fone-mc2{
  line-height: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.fone-mc3{
  line-height: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.fone-mc4{
  line-height: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.fone-mc4 a{
  color: #D5D5D5;
  text-decoration: none;
}
footer .fone_spacing{
  padding-bottom: 10px;
}

footer .widget_social{
  margin-top: 10px;
  font-size: 30px;
  color: #5c5c5c;
}

.fone_spacing a{
  color: white;
}

.widget_social a{
  text-decoration: none;
  color: #5c5c5c;
}

.posts ul {
  color:white;
}

.posts ul, .tweets ul {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 10px;
}
.posts li a {
  display:block;
  text-decoration: none;
  color:#FFF;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.posts p, .tweets p {
  margin: 0;
  margin-bottom: 30px;
  color:#39AAE1;
  font-size:12px;
}
.tweets {
  color:#727272;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.tweets a {
  text-decoration: none;
  color:#FFF;
}
.tweets a:hover {
  text-decoration: underline;
}

.menu_mobile{
  display: none;
  width: 40px;
  height: 40px;
  margin-top:40px;
  margin-bottom: 40px;
  margin-right: 20px;

}

.mm_line{
  height: 3px;
  background-color: #39aae1;
}

@media (max-width:600px){
  .banner_headline h1 {
    font-size: 55px;

  }
  .banner_headline{
    padding: 20px;
  }

  .banner_headline h2{
    font-size: 17px;
  }
  .banner_options{
    height: auto;
    flex-direction: column;
    font-size: 12px;
  }
  #banner{
    height: auto;
  }
  .container{
    flex-direction: column;
    
  }
  #geral section{
    padding: 20px;
  }
  #geral aside{
    padding: 20px;
  }
  .footer_menu{
    flex-direction: column;
  }
  .footer_area{
    flex-direction: column;
    padding: 20px;
  }
  .footer_copy{
    padding-left: 20px;
  }
  header .container{
    flex-direction: row;
  }

  nav ul{
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color:white;
  }

  header {
    height: auto;
  }

  .logo{
    padding-left: 20px;
  }
  
  .menu_mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}
